In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('ner_dataset.csv', encoding = "ISO-8859-1")

In [4]:
df.head(10)

    Sentence #           Word  POS    Tag
0  Sentence: 1      Thousands  NNS      O
1          NaN             of   IN      O
2          NaN  demonstrators  NNS      O
3          NaN           have  VBP      O
4          NaN        marched  VBN      O
5          NaN        through   IN      O
6          NaN         London  NNP  B-geo
7          NaN             to   TO      O
8          NaN        protest   VB      O
9          NaN            the   DT      O

In [5]:
df.describe()

             Sentence #     Word      POS      Tag
count             47959  1048575  1048575  1048575
unique            47959    35178       42       17
top     Sentence: 32368      the       NN        O
freq                  1    52573   145807   887908

In [6]:
tag = df['Tag']

In [7]:
tag

0          O
1          O
2          O
3          O
4          O
          ..
1048570    O
1048571    O
1048572    O
1048573    O
1048574    O
Name: Tag, Length: 1048575, dtype: object

In [8]:
tag[0]

'O'

In [11]:
tags = {}
for t in tag:
    if t in tags:
        tags[t] = tags[t]+1
    else:
        tags[t]=1

In [12]:
tags

{'O': 887908,
 'B-geo': 37644,
 'B-gpe': 15870,
 'B-per': 16990,
 'I-geo': 7414,
 'B-org': 20143,
 'I-org': 16784,
 'B-tim': 20333,
 'B-art': 402,
 'I-art': 297,
 'I-per': 17251,
 'I-gpe': 198,
 'I-tim': 6528,
 'B-nat': 201,
 'B-eve': 308,
 'I-eve': 253,
 'I-nat': 51}

In [13]:
print(tags['O']/len(tag))

0.8467758624800324